---
import "lightbox2/dist/css/lightbox.min.css";

import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import TipsListItem from "../layouts/TipsListItem.astro";
import LinkOnLightBackground from "../components/LinkOnLightBackground.astro";
import CenteredImage from "../components/trading/CenteredImage.astro";
import ButtonLink from "../components/trading/ButtonLink.astro";
import Video from "../components/trading/Video.astro";

const sections = [
    {
        id: "intro",
        title: "Intro / Navigation",
    },
    {
        id: "howistarted",
        title: "How I Started",
    },
    {
        id: "howitrade",
        title: "How I Trade",
    },
    {
        id: "tradewithme",
        title: "Trading with me",
    },
    {
        id: "pricing",
        title: "Pricing",
    },
    {
        id: "becomingatrader",
        title: "Becoming a trader",
    },
    {
        id: "reputation",
        title: "Reputation",
    },
    {
        id: "impersonators",
        title: "Impersonators",
    },
    {
        id: "charity",
        title: "Charity",
    },
    {
        id: "csgotraderextension",
        title: "My Browser Extension for trading",
    },
];
---

<script>
    import "jquery/dist/jquery.min.js";
    import "lightbox2/dist/js/lightbox.min.js";
</script>

<Layout
    type="page"
    title="Trading"
    metaDescription="My personal trading page where I try to give out useful information and explain my activites."
    ogImage="/img/trading/itemshowcase.png"
>
    <Section
        title={sections[0].title}
        id={sections[0].id}
        cl="light standardcontent"
        lineStyle="line-light"
    >
        <div class="col-lg-2"></div>
        <div class="col-lg-4 text-center">
            <p>
                I have started putting this together to help me with trading and
                the many questions I receive during trade negotiations. I will
                try to add more content and expand it continuously. What I am
                planning to write about are: how I started trading, how you can
                start trading, how to get accurate prices, how to avoid
                scammers, how to trade with me and more. I divided it into
                sections for better navigation and “linkability”.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            {
                sections.map((section) => {
                    return (
                        <LinkOnLightBackground
                            href={`#${section.id}`}
                            text={section.title}
                            cl="on-page-nav-line js-scroll-trigger"
                        />
                    );
                })
            }
        </div>
        <div class="col-lg-2"></div>
    </Section>
    <Section
        title={sections[1].title}
        id={sections[1].id}
        cl=""
        lineStyle="line-primary"
    >
        <h4 class="text-center">My first ever trade</h4>
        <p>
            My first ever trade was well before I have actually become a trader,
            but it’s still quite memorable. Back in 2013, when
            <a href="https://www.reddit.com/r/GlobalOffensive/"
                >/r/GlobalOffensive/</a
            >
            had only a few thousand members and top posts had around 200 upvotes
            I was very active there. The first operation nicknamed “Payback” was
            still underway and the passes were discounted. The now famous
            <a href="https://steamcommunity.com/id/etherfast">Etherfast</a>
            made a post on reddit, giving away passes and I was one of the recipients.
        </p>
        <CenteredImage
            src="/img/trading/firsttrade.png"
            title="My first ever trade."
            cl="mb-4"
        />
        <h4 class="text-center">Sniffing around for business</h4>
        <p>
            On the August of that year Valve introduced “skins” and I started
            sniffing for business. Honestly I was at the right place at the
            right time. The price of cases and and what you would consider junk
            now were quite high and I could cash in on the early skin fever. By
            just playing the game, I received drops like anyone else and sold
            them on the market to gain some wallet balance. At that time it was
            possible to buy a weapon case key just by salling a few drops.
        </p>
        <CenteredImage
            src="/img/trading/anarchistsale.png"
            title="Trading cards were damn expensive back then."
            cl=""
        />
        <CenteredImage
            src="/img/trading/weaponcasesale.png"
            title="The first few weapon cases held their value for much longer"
            cl=""
        />
        <CenteredImage
            src="/img/trading/fivesevensale.png"
            title="When even drops had good prices."
            cl="mb-3"
        />
        <p>
            As you can see, at the beginning even trading cards and simple
            everyday drops were kind of expensive. Weapon cases, especially the
            Bravo case which was being sold for €1-2 weeks after its release.
            This allowed me some slow, but steady gains.
        </p>
        <h4 class="text-center">Market Sniping</h4>
        <p>
            I started figuring out how the community market worked and it was
            not long after when I started making a bit of a business out of it.
            In hindsight I have to admit It was pretty lame and inefficient. I
            was sniping on the market. I would sit and watch the newly listed
            items on the market. Every now and then I would see an item listed
            on a somewhat lower price than usual. To get them before anyone else
            I had to know the prices for most of the items so I could click
            “buy” without having to check the price every time. At most times I
            would earn a cent or two by listing the item on a higher price.
            Sometime I got more lucky and earned 10-20 cents or more even. Of
            course these transactions are pretty laughable as I literality had
            to sit there and spend hours to find some decent deals. Should have
            found a better thing to waste my time on at the end of the summer,
            huh? Anyways, here are some of the more profitable ones:
        </p>
        <CenteredImage
            src="/img/trading/esportssniping.png"
            title="Earned 22 cents on this transaction, I can still recall the thrill of purchasing an item under price."
            cl="mb-2"
        />
        <CenteredImage
            src="/img/trading/gunsmokesniping.png"
            title="Just 13 cents, but at the time was still considered to be one of the better transactions."
            cl="mb-3"
        />
        <br />
        <p>
            I managed to work my way up to about €50 after a volatile day of the
            bravo case. If I remember correctly it stopped dropping at the rate
            it was supposed to after just a day, driving the price up. Meanwhile
            some people kept listing them on seemingly random prices. Here is a
            snippet from that day:
        </p>
        <CenteredImage
            src="/img/trading/bravoday.png"
            title="One, if not the best of my profits during market sniping."
            cl="mb-3"
        />
        <p>
            Not long after this I stopped market sniping. Nothing really
            happened for months, except I got some drops and sold those as well.
            Later I tried automating sniping with some relative success. When
            bravo cases were somewhere around €0.10 in price and the operation
            ended I decided to invest most of my money in them. I bought up 400
            of them waiting for the opportunity to make some profit. The case’s
            price quickly started to surge in waves. I sold some at €0.20 and
            waited all the way up to €1 with some. All in all it was one of the
            events that later allowed me to enter trading as well.
        </p>
        <h4 class="text-center">Trading</h4>
        <p>
            I got into trading through reddit. I was lurking around on
            <a href="https://www.reddit.com/r/GlobalOffensiveTrade/"
                >/r/GlobalOffensiveTrade/</a
            >
            for before I made my first move. I bought some keys and tried sniping
            “quicksells” as fast as possible. I was not very good at it, because
            back then I didn’t know about trading tools, etc. I had to manually put
            in every key, count and recount it before sending an offer. That put
            me in a considerable disadvantage. Still, I caught some cheap stuff that
            I put right back to reddit and lounge. I have done this for a while and
            kept improving my methods. For example I set up a system that looked
            for the “qs” and “quicksell” keywords in newly created posts on reddit
            and notified me. In case you are still in doubt, yes I was a dirty “quickbuyer”.
            Back then it did not have that bad of a reputation though, it was considered
            a normal and in a way essential part of trading. Then came the “go trad
            men”, “65% quickbuy” and similar russian guys from lounge ruining it
            for everyone.
        </p>
        <p>
            Valve’s policies against fraud hurt this part of trading the most.
            Putting newly bought keys on hold slowed everything down to a halt.
            I had to adapt and change the way I traded so I grew my funds and
            expanded my reach by looking for trades on other sites as well. With
            some minor adjustments the way I traded is still essentially what I
            do today. To learn about what that exactly is just scroll down and
            read the next section.
        </p>
    </Section>
    <Section
        title={sections[2].title}
        id={sections[2].id}
        cl="dark"
        lineStyle="line-light"
    >
        <div class="col-lg-6 ml-auto">
            <p>
                Unlike most other big traders who deal with top float items,
                items with rare and expensive stickers, and blue gems I chose a
                different path. Rather than dealing with rare collectors' stuff,
                I trade more common items and go for the quantity. I used to
                advertise on CSGOLounge, CSGOTRADERS.NET, reddit, in some Steam
                groups and on the CS:GO Steam forum. I have also built a
                clientele of 2000 Steam friends and
                <a href="https://steamcommunity.com/groups/gergelyszabotrading"
                    >a trading group</a
                >
                with 8000 members. I rely solely on the latter two now. In my posts
                I usually ask for downgrades with overpay, but in reality I do all
                kinds of trades, low to high, high to high, cheap items for an expensive,
                and more.
            </p>
        </div>
        <div class="col-lg-6 mr-auto">
            <p>
                Trading all kinds of items allows me to interact with all kinds
                of people. I try to have as many successful trades every day as
                possible. I spend hours a day taking, considering, then
                countering or accepting offers, chatting with people, writing
                comments, updating trading posts and whatnot. I describe my
                workflow below. Item to item trading used to be my life, it's
                still a big part of it but I prefer a better work-life balance
                and also spending time on writing code.
            </p>
        </div>
        <p>
            You can find a video below of me getting home, sitting down to my PC
            and going to inbox zero with trades, chat messages, friend request
            and all while explaining what I do. One of my friends said that it's
            really chilling to watch me go through my trades and I should be
            streaming it so I decided that I will do a recording. I had several
            recordings up on YouTube and they became quite popular during the
            first lockdowns when people had nothing better to do. I have done
            some live streams too, the recording are available
            <a href="https://www.youtube.com/channel/UCkDNavvHkCFHFCZ2bmG4zzw"
                >on my channel.</a
            >
            I stopped making videos since I did not enjoy making them too much, making
            them took up a lot of my time and I do not need the attention / volume
            of people contacting me through here. The video might be educational
            for aspiring traders and interesting for random folks, enjoy!
        </p>
        <Video
            src="https://www.youtube.com/embed/Q1nXGELz5tY"
            title="CAN I MAKE A LIVING OUT OF TRADING? $250 PROFIT in 10 trades -  Saturday Morning Harvest #trading"
        />
    </Section>
    <Section
        title={sections[3].title}
        id={sections[3].id}
        cl="light"
        lineStyle="line-light"
    >
        <div class="col-lg-12 ml-auto">
            <p class="mb-4">
                This section is a guide to help you trade with me. I always
                recommend sending an offer first where you can also add a
                comment of what you are looking for. If you want my help
                choosing an item that you can afford or want to discuss the
                specifics of a multi-item trade feel free to add me.
            </p>
            <div class="row">
                <div class="col-lg-6 ml-auto">
                    <h3 class="mb-3">Tips for sending an offer</h3>
                    <ul>
                        <TipsListItem title="Items">
                            I trade mostly, but not exclusively in CS:GO items.
                            I can accept items from other games as well, but
                            only if they are marketable and easy to sell. I am
                            not interested in rare, high value items that sell
                            every two months or so.
                        </TipsListItem>
                        <TipsListItem title="When my items are tradable">
                            <LinkOnLightBackground
                                href="#csgotraderextension"
                                text="My extension"
                                cl="js-scroll-trigger"
                            />
                            used to be able to show the remaning trade lock duration
                            on items, but Valve removed an API endpoint that the
                            extension used to gather this information so it's no
                            longer available. I am currently working on a page for
                            my site that will show trade locks.
                        </TipsListItem>
                        <TipsListItem title="Cheap items">
                            I don't mind talking on cheaper items, but I have
                            limited inventory space (CS:GO inventories are
                            limited to 1000 items) so I basically have to sell
                            any items below 4-5 euros after getting them. Also
                            there are some occasions nowadays when I can't
                            accept an offer that I like because I don't have the
                            space. I try to free up some space or counter by
                            taking some cheap items out of the trade. Since
                            Valve added Storage Units I have also been juggling
                            my items in and out of them.
                        </TipsListItem>
                        <TipsListItem title="Collector’s items">
                            You have to understand that I don’t trade items to
                            use them in-game, therefore I will have no advantage
                            from cosmetic differences. I am not interested in
                            items with top floats, amazing patterns and looks,
                            katowice and other expensive stickered weapons.
                            Items like these are dangerous for me, I don't
                            always notice expensive stickers when sending or
                            countering to offers. I have lost money giving away
                            stickered items for the price of standard ones. I
                            can value items with good floats over market, for
                            exmaple I would not mind valuing 0.19 float mid-tier
                            gloves as more expensive than the market price.
                        </TipsListItem>
                        <TipsListItem title="Find what you like">
                            It’s easy to get lost in a big inventory clicking
                            away between pages, but search and filters make it
                            much easier! With a few keywords you can search for
                            <LinkOnLightBackground
                                href="/img/trading/slaughtersearch.png"
                                text="paint styles"
                                lightbox="Search and Filter"
                            />
                            or
                            <LinkOnLightBackground
                                href="/img/trading/karambitsearch.png"
                                text="knife types"
                                lightbox="Search and Filter"
                            />
                            . With advanced filters you can filter for
                            <LinkOnLightBackground
                                href="/img/trading/riflefilter.png"
                                text="item types"
                                lightbox="Search and Filter"
                            />
                            and
                            <LinkOnLightBackground
                                href="/img/trading/stfilter.png"
                                text="categories"
                                lightbox="Search and Filter"
                            />
                            .
                            <LinkOnLightBackground
                                href="#csgotraderextension"
                                text="My extension"
                                cl="js-scroll-trigger"
                            />
                            also makes this easier. You can sort by price, float,
                            stickers, etc.
                        </TipsListItem>
                        <TipsListItem title="Inspecting">
                            With
                            <LinkOnLightBackground
                                href="#csgotraderextension"
                                text="my extension"
                                cl="js-scroll-trigger"
                            />
                            you can inspect items without opening up the game. It
                            is great if you are on a work computer without CS:GO
                            installed for example. You can also inspect items on
                            server, in-hand, it's like you already owned the item.
                        </TipsListItem>
                        <TipsListItem title="Include a message">
                            With a trade offer you can also
                            <LinkOnLightBackground
                                href="/img/trading/butterflymessage.png"
                                text="include a message"
                                lightbox="Include message"
                            />
                            ! Use it to tell me what kinds of items you are looking
                            for other than what you send the offer for. This makes
                            counter offering much easier!
                        </TipsListItem>
                        <TipsListItem title="Pricing">
                            I have created a whole section
                            <LinkOnLightBackground
                                href="#pricing"
                                text="about pricing."
                                cl="js-scroll-trigger"
                            />
                            If it’s still too complicated or you are not sure, feel
                            free to add me on steam.
                        </TipsListItem>
                        <TipsListItem title="Accounts">
                            Trading accounts is against every site’s terms of
                            service. It is also very easy to recover an account
                            after the trade through customer support rendering
                            the deal void. For these reasons I do not trade and
                            am not interested in any kinds of accounts, be it
                            Steam, Origin, Uplay, LoL or else.
                        </TipsListItem>
                        <TipsListItem title="Games">
                            Sorry, I am not interested in Steam game gifts or
                            keys. The same applies for every other service.
                        </TipsListItem>
                        <TipsListItem title="Holds">
                            Unlike many other traders I don’t have that big of a
                            problem with trade holds. If you don’t have steam
                            mobile authenticator you can still trade with me,
                            although I will ask for more overpay if you want me
                            to wait two weeks. If you are not sure what trade
                            holds are or why you might have them then check out
                            Steam’s relevant
                            <LinkOnLightBackground
                                href="https://support.steampowered.com/kb_article.php?ref=8078-TPHC-6195"
                                text="Knowledge Base article"
                            />
                            .
                        </TipsListItem>
                        <TipsListItem title="Trade locks">
                            If there is an item in your inventory, but you can’t
                            see it in the trade window then it is not tradable.
                            Items that you got - whether traded, unboxed or
                            bought on the market - in the past week are trade
                            locked. This policy was enforced by Valve because of
                            widespread fraud, money laundering and gambling
                            sites.
                        </TipsListItem>
                    </ul>
                </div>
                <div class="col-lg-6 ml-auto">
                    <h3 class="mb-3">Tips for adding me</h3>
                    <ul>
                        <TipsListItem title="Civility">
                            I always try to be civil and understanding and I
                            expect some degree of politeness from you as well.
                            If you start throwing insults or profanities at me I
                            will remove you from my friend list.
                        </TipsListItem>
                        <TipsListItem title="Language">
                            I communicate in english during trade negotiations
                            so I expect you to be able to understand and use the
                            language to some degree. You can try to use Google
                            Translate, but it can produce some very confusing
                            results.
                        </TipsListItem>
                        <TipsListItem title="Idea">
                            If you add me please have something thought out of
                            what you want. I don’t like when I get messages like
                            “Hey I have x item offer me something, I don’t care
                            what!”. At least tell me what types of items you
                            like/are looking for.
                        </TipsListItem>
                        <TipsListItem title="Private and friends-only profile">
                            I don’t accept private profiles because that way I
                            have no information to asses someone and most people
                            with private profiles are scammers anyways. Steam
                            has a
                            <LinkOnLightBackground
                                href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401"
                                text="Knowledge Base article"
                            />
                            about setting profile privacy settings that you can use
                            to make your profile public before adding me.
                        </TipsListItem>
                        <TipsListItem
                            title="Private and friends-only inventory"
                        >
                            If I can’t see what you have and you don’t notify me
                            about it beforehand then I will very likely ignore
                            your friend request. Same as for profiles you should
                            change the privacy settings before adding me.
                        </TipsListItem>
                        <TipsListItem title="Empty inventory">
                            If you add me without telling me why and you have an
                            empty inventory I will just assume that you either
                            want to scam me or you will beg for free items. We
                            can’t trade if you don’t have items, so I ignore
                            profiles with empty or close to empty inventories.
                        </TipsListItem>
                        <TipsListItem title="Bans">
                            Vac bans do not disqualify you right away, but I
                            don’t like cheaters and their excuses so It
                            decreases the chances of accepting. Trade banned or
                            SteamRep flagged accounts will be ignored.
                        </TipsListItem>
                        <TipsListItem title="Real money">
                            You can buy items from me with Crypto or Bank
                            transfer (for most countries). However you will have
                            to go first since I have extensive
                            <LinkOnLightBackground
                                href="#reputation"
                                text="reputation"
                                cl="js-scroll-trigger"
                            />
                            . I also list my tradable items on many Peer-to-Peer
                            markets. I deliver within a few minutes, unless of course
                            I am sleeping.
                        </TipsListItem>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <p>I am usually active between 9AM and 1AM UTC.</p>
                <ButtonLink
                    href="https://steamcommunity.com/tradeoffer/new/?partner=75764727&token=tx0asz7q"
                    title="Offer in browser"
                />
                <ButtonLink
                    href="steam://openurl/https://steamcommunity.com/tradeoffer/new/?partner=75764727&token=tx0asz7q"
                    title="Offer in Steam"
                />
                <ButtonLink
                    href="steam://friends/add/76561198036030455"
                    title="Add me on Steam"
                />
                <ButtonLink
                    href="https://steamcommunity.com/id/gergelyszabo"
                    title="Profile in browser"
                />
                <ButtonLink
                    href="steam://openurl/https://steamcommunity.com/id/gergelyszabo"
                    title="Profile on Steam"
                />
            </div>
            <br />
            <p>
                As you have probably guessed I trade for profit. I do not
                require enormous overpays like others and I can undercut trading
                site prices as well. Feel free to leave a recommendation comment
                on my profile after our trade, I will very likely return the
                favour.
            </p>
        </div>
    </Section>
    <Section
        title={sections[4].title}
        id={sections[4].id}
        cl=""
        lineStyle="line-light"
    >
        <p>
            I used Steam Market prices for a long time and this section
            described how I have done that in detail. I moved on to using
            <a href="https://buff.163.com/market/csgo#tab=selling&page_num=1">
                Buff
            </a>
            prices sometime around the end of 2020. There is a lot more volume compared
            to any other single CS:GO marketplace, including the official one. I
            was convinced by the argument that we should use the data from the most
            popular source as "source of truth". Zipel has a nice, detailed video
            about
            <a href="https://www.youtube.com/watch?v=gKj1lgG6i4s">
                Buff prices, Cash vs. Steam Prices
            </a>
            that you can watch if you like that format. I will describe my personal
            method of pricing.
        </p>
        <p>
            95%+ items are very easy to price on buff, simply take the cheapest
            listed right now and you are done. This works very well for liquids
            (items with ample supply and volume), which is the reason I use
            "BUFF163 - BUFF Starting at" as the pricing mode in my extension. It
            gets more complicated when the items are rare enough that they only
            have a few or none listed on buff. If you know that an item you are
            dealing with is rare, or that you can only see a few listed what you
            can do is:
        </p>
        <ul class="ps-5">
            <li>
                Check the Trade Records or Price Trend tabs for data on the
                item's actual sales history
            </li>
            <li>
                Check the Buy Orders tab, if the item is rare it might not be
                very useful but at least it gives you a minimum price
            </li>
            <li>
                Check the prices of other exteriors, for example don't value a
                Minimal Wear item more than a Factory New
            </li>
            <li>
                If the item is StatTrak™ than checking the non-st price and its
                relation to other exterior's prices can give you some hints
            </li>
            <li>
                The above works the other way around too, but there is almost
                always more data for non-st ones, it can also help with
                Souvenirs
            </li>
            <li>
                It's not really a pricing tip but a general advice, if it's so
                rare that you can't find a reliable price than you might want to
                avoid that item
            </li>
        </ul>
        <p>
            The third group of items, items with good to great, to top float,
            stickered, patterned, one-of-a-kind items where Buff really shines
            over the Steam Market. For example, you can filter for Doppler
            Phases, Fade percentages, floats and some patterns. Just keep it in
            mind that you should not "overfilter", it's an easy mistake to make
            especially with patterns, since there are so many of them. Filtering
            to Paint Seeds and finding one like yours listed for x price might
            not mean anything. Another example to overfiltering would be owning
            a 97% Fade knife with 0.009 float. Since these combinations are so
            rare that you might only find a few listings matching your criteria.
            My tip to avoid overfiltering is not using the default ranges preset
            by Buff, rather choosing Customize and entering 97-100 for the Fade
            Range in the latter example. Valuing stickered items is very hard,
            which is of the reasons why I avoid items with expensive stickers. I
            recommend watching
            <a href="https://www.youtube.com/watch?v=gKj1lgG6i4s">
                Zipel's guide to pricing stickered skins.
            </a>
            Patterned item valuing (ch gems, etc) is an art of its own, I generally
            avoid them. Occasionally a helpful Steam guide comes along but honestly,
            I don't have the patience to count pixels and keep track of such items
            in my inventory.
            <a href="https://broskins.com/"> Broskins</a>
            might be able to help you with them.
        </p>
    </Section>
    <Section
        title={sections[5].title}
        id={sections[5].id}
        cl="light"
        lineStyle="line-light"
    >
        <div class="col-lg-4">
            <p>
                I have been getting questions about how one becomes a trader so
                I thought I would sum up my general response here. First, let me
                make that very clear that starting out with trading in the
                current climate is extremely hard and I don’t recommend doing
                it. The reasons for this are many, but they are neither obvious
                nor simple. I already detailed how I started trading in its own
                section. The problem is that it’s not really viable way anymore.
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                You can’t snipe items off the market because of bot overgrowth,
                you can’t invest in cases because their price does not go up, or
                at least not that quickly. You can’t get quicksells because of
                Valve’s policies and because so many others started doing it
                then it has just died. If you seriously set your mind on getting
                into trading, I recommend putting in some serious cash and time
                to get anywhere, but that is just my two cents based on my
                experience.
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                If after reading all of this, you still want to give trading a
                try give my
                <LinkOnLightBackground
                    href="https://www.youtube.com/channel/UCkDNavvHkCFHFCZ2bmG4zzw"
                    text="YouTube channel"
                />
                a look. You can see how I do my trades in the trading sessions. By
                watching them you can learn all the tricks when it comes to actual
                trading. I also created more how-to videos, like how to find people
                to trade with.
            </p>
        </div>
    </Section>
    <Section
        title={sections[6].title}
        id={sections[6].id}
        cl=""
        lineStyle="line-primary"
    >
        <div class="col-lg-6">
            <p>
                Good reputation is very important for me. I have been called a
                scammer by people who don’t think it’s possible to become
                successful without cheating. That is essentially the reason I
                wrote this section, this way I can just link to it whenever my
                reputation comes to doubt.
            </p>
            <p>
                First let me emphasize that you DO NOT have to trust me. I try
                to do everything that is possible through steam trade offers.
                This way there is no possibility of anyone getting something
                other than or less than what they were promised. If we are doing
                a cash deal and you need more confidence to deal with me I
                gathered some reputation info here.
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                Profile “+reps” are not a very good way to determine trust, but
                I have gathered
                <a href="https://steamcommunity.com/id/gergelyszabo">
                    996 pages
                </a>
                of them, which adds up to close to 6000 over 9 years as of this writing.
                I have clean slate on
                <a href="https://steamrep.com/profiles/76561198036030455">
                    SteamRep
                </a>
                and 48 done cash deals on
                <a href="https://csgo-rep.com/profile/76561198036030455">
                    CSGO-REP
                </a>
                with all of those people going first. I don't really collect cash
                or profile rep anymore since people rarely have issues trusting me,
                and if they do, a few more of those won't help.
            </p>
            <p>
                I am level 350 on Steam, which allows me to have the maximum
                (2000) friends. I have made over 123,000 trades and 74,000
                market transactions on Steam. I have a great inventory of
                thousands of items that I would not dare to risk over some petty
                scams. I don’t hide behind silly nicknames and private profiles,
                I am very open about who I am, you can find my social media here
                on my site. On top of this, over 150 thousand people trust me
                and actively use my extension.
            </p>
        </div>
    </Section>
    <Section
        title={sections[7].title}
        id={sections[7].id}
        cl="light"
        lineStyle="line-light"
    >
        <div class="col-lg-6">
            <p>
                I have been getting increasing number of messages about profiles
                that are made to look like mine. I only have a single account
                with level 350, it's linked in the
                <LinkOnLightBackground
                    href="#tradewithme"
                    text="Trade with me"
                    cl="js-scroll-trigger"
                />
                section. I WILL NEVER ADD YOU if you don’t specifically ask for it.
                These profiles often take my inventory link and put it in their description,
                making it look like its theirs. They try to use my reputation to
                make people send their items first in some real money transactions,
                "verifying" your items or sending you scam site links. These are
                the methods I have heard of so far.
            </p>
            <p>
                I used to collect the links to my impersonators' profiles here,
                but there are so many, and they change so quickly that I could
                not keep up with it. This is what you get if you search for my
                name on steam, the top one is me, the rest of the 33 are
                scammers and this is only my most recent name...
                <CenteredImage
                    src="/img/trading/impersonators.jpg"
                    title="List of impersonators found by a Steam friends search"
                />
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                I can’t do much more than reporting them and trying to warn
                others not to fall for them. You can initiate a
                <LinkOnLightBackground
                    href="https://forums.steamrep.com/forms/scam-report.10/respond"
                    text="SteamRep report"
                />
                if you have evidence, or just report them on steam directly:
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <CenteredImage
                        src="/img/trading/reportviolation.png"
                        title="Report Violation through steam profile"
                    />
                </div>
                <div class="col-lg-6">
                    <CenteredImage
                        src="/img/trading/impersonatinganotheruser.png"
                        title="Impersonating another user option"
                    />
                </div>
                <p class="mt-2">
                    The latest trend in impersonation is through Facebook and
                    Discord, especially Discord. Users seem to fall for it more
                    often when it takes more than just opening the account's
                    inventory and see that it's empty. Many don't seem to know
                    that you can easily link your Steam account to your Discord.
                    You should not believe anyone on Discord claiming to be
                    someone else on Steam if they don't have their accounts
                    linked. I don't use Discord for trading so if someone hits
                    you up there with my name, you can just refer them to this
                    page.
                </p>
            </div>
        </div>
    </Section>
    <Section
        title={sections[8].title}
        id={sections[8].id}
        cl="dark"
        lineStyle="line-light"
    >
        <div class="col-lg-6 ml-auto">
            <p>
                Having many items has disadvantages as well. Other than the
                constant swarm of scammers trying to infiltrate my inventory,
                there are beggars too. These are mostly kids from poor countries
                or unfortunate circumstances. They beg, lie, and even threaten
                me to get free items. They often invent stories of dead
                relatives, say it would make their dreams come true or set them
                for life. I have a zero-tolerance policy towards them.
            </p>
            <p>
                In my view giving away my items for free would not even count as
                a charitable donation because the recipients are not really in
                need of the items. Like does anyone really NEED a knife or a
                nice skin for a video game they waste their time on? I think
                not. And if I wasn’t trading I would very likely not have any
                expensive skins and especially not a knife. By this standard it
                would mean that I am giving away a luxury to others that I would
                not spend my OWN money on for my OWN use. That would be insane,
                right? Yes, it would.
            </p>
            <p>
                You could argue that they don’t want the items, they just need
                its value and I accept that argument. But I can’t reward
                begging, which would mean that I am rewarding laziness. In that
                case these young fellas would just learn that there are folks
                out there giving them something for free when they ask. I don’t
                want to support the imprinting of this expectation.
            </p>
            <p>
                There is of course the argument I often get in some form of “but
                it’s nothing to you man”. This is absolutely incorrect; it is
                something for me. I worked and am still working hard for what I
                got. Implying that a knife is like a piece of candy for me that
                has no value is just laughable. Even for the cheapest knives I
                probably work a few hours for, would you think that hours of my
                life worth nothing to me? If you do, you are mistaken.
            </p>
        </div>
        <div class="col-lg-6 mr-auto">
            <p>
                There are some cases where people are in real need, and they ask
                for a donation. Unfortunately, on the internet everyone can
                claim to be whatever they want, without others being able to
                confirm it. This leads to many made up stories and fake
                charities. So even when someone is in real need, they cannot
                prove it. Even if they were able to, how do I choose who gets
                and who doesn’t?
            </p>
            <p>
                This is a real dilemma that many others face in their everyday
                lives. In reality, the answer to this question is not that
                complicated. The ones most in need get it, right? Well, kind of.
                In my view we should give money where it can be most efficiently
                used. The
                <a href="https://www.givewell.org/">GiveWell</a> organization has
                an audited list of the most efficient transparent charitable organizations
                around. On the top of this list as of this writing is the Against
                Malaria Foundation. This org distributes mosquito nets around African
                countries efficiently decreasing child mortality rates. So think
                this through, let is sink in then ask yourself. If you are one of
                the people asking for your “dream items”, do you really think you
                would use the money better than an African kid without protection
                against malaria spreading mosquitoes?
            </p>
            <p>So please don't be one of these guys:</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 mx-auto">
                    <CenteredImage
                        src="/img/trading/charity/cancer.jpg"
                        title="Guy begs for item."
                    />
                </div>
                <div class="col-lg-6 col-md-6 mx-auto">
                    <CenteredImage
                        src="/img/trading/charity/plsgiveme.png"
                        title="Guy begs for item."
                    />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 mx-auto">
                    <CenteredImage
                        src="/img/trading/charity/pleasss.jpg"
                        title="Guy begs for item."
                    />
                </div>
                <div class="col-lg-6 col-md-6 mx-auto">
                    <CenteredImage
                        src="/img/trading/charity/drinkingaddiction.jpg"
                        title="Guy begs for item."
                    />
                </div>
            </div>
        </div>
    </Section>
    <Section
        title={sections[9].title}
        id={sections[9].id}
        cl=""
        lineStyle="line-primary"
    >
        <p>
            I have created a site for it that has much more detail
            so I will just leave a link here and let you check the
            details there. It's at
            <a href="https://csgotrader.app/">csgotrader.app.</a>
            The site details the extension's features, where you can get it,
            how prices are calculated, etc. You can also find of me showcasing
            the extension's features below.
        </p>
        <Video
            src="https://www.youtube.com/embed/6OOGxAlc8O8"
            title="CSGO Trader - Steam Trading Enhancer Extension - Feature Showcase"
        />
    </Section>
</Layout>
